/* Base styles */
.page-header {
    background: linear-gradient(to right, rgba(2, 36, 91, 1) 0%, rgba(2, 36, 91, 0) 100%), url('../img/carousel-2.jpg') center center no-repeat;
    background-size: cover;
    text-align: center;
  }
  
  .page-header .display-3 {
    font-size: 3rem;
  }
  
  .breadcrumb {
    justify-content: center;
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    .page-header .display-3 {
      font-size: 4rem;
    }
  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    .page-header .display-3 {
      font-size: 5rem;
    }
  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    .page-header .display-3 {
      font-size: 6rem;
    }
  }